section.page {
    display: none;
    line-height: 499px;
    text-align: center;
    &.is-active {
        display: block;
    }
    >section {
        height: 500px;
        background-color: #A45EFD;
        &:nth-child(2n) {
            background-color: #f9f9f9;
        }
        &:nth-child(3n) {
            background-color: #29D7A5;
        }
        &:nth-child(4n) {
            background-color: #FE6D6D;
        }
    }
}

