mixin footer
	footer.footer
		.footer__image.center
			//- .image
			img(src='//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/crowdDark.png')
		.footer__container
			.footer__subscribe
				form
					input.input(type='text' placeholder='Join our Newsletter')
					input.button(type='submit' name='subscribe' id='subscribe')
			.footer__base
				+socialGroup('blue')
				p Copyright © 2015 Roaring Riot | 
					a(href='#') Designed by Skookum
				p The Roaring Riot is not associated with the Carolina Panthers or the NFL | 
					a(href='#') No animals were harmed in the making of this site. Not even Dirty Birds.
