mixin footer
	footer.footer.white
		.footer__image.center
			//- .image
			img(src='images/people/crowdDark.png')
		.footer__container
			.footer__subscribe
				input(type='text' placeholder='Join our Newsletter')
				button.button Subscribe
			.footer__base
				+socialGroup('blue')
				p Copyright © 2015 Roaring Riot | 
					a(href='#') Designed by Skookum
				p The Roaring Riot is not associated with the Carolina Panthers or the NFL | 
					a(href='#') No animals were harmed in the making of this site. Not even Dirty Birds.
