mixin footer
	footer.footer.white
		.footer__image.center.yourCityDark
		.footer__container
			.footer__subscribe
				input(type='text' placeholder='Join our Newsletter')
				button.button Subscribe
			.footer__base
				ul.social
					li.social__twitter
						img(src='images/ui_icons/heart.svg')
					li.social__twitter
						img(src='images/ui_icons/heart.svg')
					li.social__twitter
						img(src='images/ui_icons/heart.svg')
				p Copyright © 2015 Roaring Riot | 
					a(href='#') Designed by Skookum
				p The Roaring Riot is not associated with the Carolina Panthers or the NFL | 
					a(href='#') No animals were harmed in the making of this site. Not even Dirty Birds.
