mixin heroHome
	.hero
		.hero__image
			.hero__image__container
			.hero__overlay
		.hero__container
			.hero__message
				h3.h3 One Team. One Love
				h1.h1 ONE RIOT
				button.button Become a Member
