mixin heroHome
	.hero
		.hero__image
			.hero__image__container
			.hero__overlay
		.hero__container
			.hero__message
				h3.h3 One Team. One Love
				.oneriot
					img(src='//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/oneriot.svg')
				a(href='#').button Become a Member

mixin heroSecondary
	.hero.secondary
		.hero__image
			.hero__image__container
			.hero__overlay
		.hero__container
			.hero__message
				h3.h3 Upcoming Events
				p Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum.
