$heroHeight: 412px;

.hero {
	margin-top: $header-height - 1;
	@include breakpoint($portable) {
		margin-top: $nav-height - 1;
	}
}
.hero__image {
	.hero__image__container {
		height: $heroHeight;
		@include absolute($header-height - 1,0,0,0);
		background-image: url('//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/facebook.jpg');
		background-repeat: repeat-x;
		background-size: auto 100%;
	}
	.hero__overlay {
		height: $heroHeight;
		@include absolute($header-height - 1,0,0,0);
		@include angled-gradient(transparentize($color-primary,0.15), transparentize(adjust-hue($color-primary, -5deg),0.15));
	}
	@include breakpoint($portable) {
		.hero__image__container,
		.hero__overlay {
			top: $nav-height - 1;
		}
	}
}
.hero__container {
	@include max-width;
	height: $heroHeight;
	position: relative;
}
.hero__message {
	@include center-vertical();
  .h3 {
  	font-size: 28px;
  	font-weight: 500;
  	color: white;
  	text-transform: uppercase;
  }
  .oneriot {
  	margin-top: 24px;
  	img {
  		width: 300px;
  	}
  }
  .button {
  	width: 200px;
  	margin-top: 48px;
  	margin-left: 0;
  	@include breakpoint($portable) {
  		margin-left: auto;
			margin-right: auto;
  	}
  }
	@include breakpoint($portable) {
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

.hero.secondary {
	.hero__image {
		.hero__image__container {
			height: $heroHeight / 3 * 2;
		}
		.hero__overlay {
			height: $heroHeight / 3 * 2;
		}
	}
	.hero__container {
		height: $heroHeight / 3 * 2;
	}
	.hero__message {
		width: 300px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: white;
		h3.h3 {
			font-size: 40px;
			font-weight: 900;
		}
		p {
			padding-top: 24px;
		}
	}
}

