@include breakpoint($portable) {
    .navigation__shop .socialGroup {
        display: none;
    }
    .navigation {
        @include fixed(0,0,null,0);
        z-index: 99;
        .burger {
            @include square(48px);
            @include fixed(6px,null,null,2px);
            padding: 12px;
            background-image: url('#{$shopifyAssets}/burger.svg');
            background-position: 12px 12px;
            background-repeat: no-repeat;
            cursor: pointer;
            z-index: 999;
        }
        .logo {
            height: $link-height;
            background-color: $subMenu;
            display: block;
            position: relative;
            @include drop-shadow(0,1px,0,rgba(0,0,0,0.05));
            z-index: 9;
            img {
                width: 160px;
                margin: auto;
                @include absolute(0,0,0,0);
            }
        }
        .navigation__search {
            @include square(48px);
            @include absolute(6px,4px,null,null);
            padding: 12px;
            background-image: url('#{$shopifyAssets}/search-black.svg');
            background-size: 32px 32px;
            background-position: 8px 8px;
            background-repeat: no-repeat;
            @include opacity(.54);
            cursor: pointer;
            z-index: 999;
            &:hover {
                @include opacity(1);
            }
        }
        .navigation__shoppingCart {
            @include square(48px);
            @include absolute(6px,40px,null,null);
            padding: 12px;
            background-image: url('#{$shopifyAssets}/cart-grey.svg');
            background-size: 28px 28px;
            background-position: 10px 10px;
            background-repeat: no-repeat;
            cursor: pointer;
            z-index: 999;
            .shoppingCart__count {
                display: block;
                height: 14px;
                min-width: 14px;
                max-width: 20px;
                @include border-radius(7px);
                @include absolute(null,0,12px,1px);
                margin: auto;
                padding: 0 5px;
                background: transparentize($color-primary, .3);
                font-size: 8px;
                line-height: 16px;
                color: white;
                text-align: center;
                font-weight: 500;
                &:empty {
                   display: none;
                }
            }
        }
        .navigation__links {
            display: none;
            //background: $navMobileColor;
            @include angled-gradient(transparentize($color-primary,0.05), transparentize(adjust-hue($color-primary, -10deg),0.05));
            @include absolute($nav-height,0,0,0);
            height: 1000px;
            z-index: 10;
            &.is-active {
                display: block;
                @include animate(fade-in 300ms ease-in-out);
                .navigation__link {
                    @for $i from 1 through 16 {
                        &:nth-child(#{$i}) .anchor {
                            @include animate(lift#{$i} 500ms cubic-bezier(0.175, 0.885, 0.32, 1.150));
                        }
                        @include keyframes(lift#{$i}) {
                            0% {
                                @include translate3d(0, ($link-height * $i), 0);
                            }
                            100% {
                                @include translate3d(0, 0, 0);
                            }
                        }
                    }
                }
            }
            &.not-active {
                display: block;
                @include animate(fade-out 500ms ease-in-out);
                @include opacity(0);
                .navigation__link {
                    @for $i from 1 through 16 {
                        &:nth-child(#{$i}) .anchor {
                            @include opacity(0);
                            @include animate(fall#{$i} 300ms ease-out);
                        }
                        @include keyframes(fall#{$i}) {
                            0% {
                                @include translate3d(0, 0, 0);
                                @include opacity(1);
                            }
                            80% {
                                @include opacity(1);
                            }
                            100% {
                                @include translate3d(0, (($link-height/4) * $i), 0);
                                @include opacity(0);
                            }
                        }
                    }
                }
            }
        }
        .navigation__sublinks {
            display: none;
            margin-left: 0;
        }
    }
    .navigation__link {
        height: $link-height;
        line-height: $link-height - 1;
        @include absolute(0,0,null,0);
        display: block;
        text-align: center;
        .anchor {
            color: white;
            font-size: 22px;
        }
        @for $i from 1 through 16 {
            &:nth-child(#{$i}) {
                top: $link-height * $i - $link-height;
            }
        }
        &.inactive {
            @include opacity(0);
            @include transition(opacity 60ms ease-out);
        }
        &.is-active {
            background: $activeLink;
            position: relative;
            @include opacity(1);
            z-index: 99;
            &:after {
                content: '';
                @include absolute(0,24px,0,null);
                margin: auto 0;
                background: white;
                @include square(12px);
                @include circle();
            }
            @for $i from 1 through 16 {
                &:nth-child(#{$i}) {
                    @include translate3d(0, -($link-height * $i - $link-height), 0);
                    @include animate(up#{$i} 400ms cubic-bezier(0.175, 0.885, 0.32, 1.050));
                }
                @include keyframes(up#{$i}) {
                    0% {
                        @include translate3d(0, 0, 0);
                        background: rgba(0,0,0,0);
                    }
                    100% {
                        @include translate3d(0, -($link-height * $i - $link-height), 0);
                        background: $activeLink;
                    }
                }
            }
            .navigation__sublinks {
                display: block;
                @include size(100%, 1000px);
                @include fixed($link-height,0,0,0);
                border: none;
                .navigation__sublink {
                    @for $i from 1 through 16 {
                        &:nth-child(#{$i}) {
                            @include animate(lift#{$i} 500ms cubic-bezier(0.175, 0.885, 0.32, 1.20));
                        }
                        @include keyframes(lift#{$i}) {
                            0% {
                                @include translate3d(0, ($link-height * $i), 0);
                            }
                            100% {
                                @include translate3d(0, 0, 0);
                            }
                        }
                    }
                }
            }
        }
        &.link.is-active {
            background: none;
            @include translate3d(0, 0, 0);
            @include animate(none);
        }
        &.not-active {
            @for $i from 1 through 16 {
                &:nth-child(#{$i}) {
                    @include translate3d(0, 0, 0);
                    @include animate(down#{$i} 400ms ease);
                }
                @include keyframes(down#{$i}) {
                    0% {
                        @include translate3d(0, -($link-height * $i - $link-height), 0);
                        background: $activeLink;
                    }
                    100% {
                        @include translate3d(0, 0, 0);
                        background: rgba(0,0,0,0);
                    }
                }
            }
            .navigation__sublinks {
                display: block;
                @include size(100%, 1000px);
                @include fixed($link-height,0,0,0);
                border: none;
                padding: 0;
                .navigation__sublink {
                    @for $i from 1 through 16 {
                        &:nth-child(#{$i}) .anchor {
                            @include opacity(0);
                            @include animate(fall#{$i} 600ms ease-in-out);
                        }
                        @include keyframes(fall#{$i}) {
                            0% {
                                @include translate3d(0, 0, 0);
                                @include opacity(1);
                            }
                            50% {
                                @include opacity(0);
                            }
                            100% {
                                @include translate3d(0, (($link-height/2) * $i), 0);
                                @include opacity(0);
                            }
                        }
                    }
                }
            }
        }
        &.link.not-active {
            @include translate3d(0, 0, 0);
            @include animate(none);
        }
    }
    .navigation__sublink .anchor {
        font-size: 18px;
    }
}
@include keyframes(fade-in) {
    0% {
        @include opacity(0);
    }
    100% {
        @include opacity(1);
    }
}
@include keyframes(fade-out) {
    0% {
        @include opacity(1);
    }
    100% {
        @include opacity(0);
    }
}
@include keyframes(shrink) {
    0% {
        @include opacity(1);
    }
    100% {
        @include opacity(0);
    }
}
