mixin chapter(colorImage, bwImage, location)
	li.chapter
		.chapter__color(class= location)
		.chapter__container
			.chapter__logo
				img.chapter__logo--color(src= colorImage)
				img.chapter__logo--bw(src= bwImage)
			h6.h6.chapter__location= location
			.chapter__links
				a(href='#').chapter__join
					.chapter__links--badge
						img(src='//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/heart.svg')
					h6.h6 join
				a(href='#').chapter__facebook
					.chapter__links--badge
						img(src='//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/facebook.svg')
					h6.h6 visit

mixin chapters
	.chapters
		h3.h3.titleBar Our Chapters
		ul
			+chapter('//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/atlanta.png','//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/atlanta-bw.png','Atlanta')
			+chapter('//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/queen.png','//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/queen-bw.png','Charlotte')
			+chapter('//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/denver.png','//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/denver-bw.png','Denver')
			+chapter('//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/gate.png','//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/gate-bw.png','Greensboro')
			+chapter('//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/oak.png','//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/oak-bw.png','Greenville')
			+chapter('//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/upstate.png','//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/upstate-bw.png','Lake Norman')
			+chapter('//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/cola.png','//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/cola-bw.png','New Orleans')
			+chapter('//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/apple.png','//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/apple-bw.png','New York')
			+chapter('//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/capital.png','//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/capital-bw.png','Washington')
			+chapter('//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/twin.png','//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/twin-bw.png','Winston Salem')
			+chapter('//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/apple.png','//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/apple-bw.png','New York')
			+chapter('//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/queen.png','//cdn.shopify.com/s/files/1/0872/5956/t/2/assets/queen-bw.png','Charlotte')