mixin event(image, title)
	li.event
		a(href='events.html')
			.event__image
				img(src= image)
				.event__image--overlay
			h3.h3.event__title= title

mixin events
	section.section.grey
		.section__container
			h2.h2.section__title UPCOMING EVENTS
				a(href='events.html') See All
			ul.events
				+event('images/events/grill.jpg', '2015 River City Takeover-Jacksonville')
				+event('images/events/seattle.jpg', '2015 Music City Takeover-Nashville')
				+event('images/events/beer.jpg', '2015 ATL GA DOME Takeover')