mixin eventAbstract(image)
	.eventAbstract
		.event__image
			img(src= image)
			.event__image--overlay
		.event__details
			.event__date 
				span.bold DATE: 
				| October 18, 2016
			.event__location
				span.bold LOCATION: 
				| 123 Main Street, Charlotte NC 28202
		.event__description
			p Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.
			p Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Etiam porta sem malesuada magna mollis euismod.
			button.button.clear RSVP

mixin eventPage
	section.section.eventPage
		.section__container
			+eventAbstract('images/events/grill.jpg')
			+eventAbstract('images/events/seattle.jpg')
			+eventAbstract('images/events/beer.jpg')