mixin whyRiot
	section.section.grey
		.section__container
			.section__message.left
				h2.h2.section__title WHY RIOT?
				p Our mission is quite simple - to grow and unite the largest community of Carolina Panthers fans across the world who like gathering as a group to enjoy great events and show support for the team. It doesn't matter where you are, if you share the same passion and enjoy being around other Panthers fans then you're part of the Riot.
			.section__image.right
				img(src='images/people/beer.png')
mixin joinUs
	section.section.blue
		.section__container
			.section__message.right
				h2.h2.section__title JOIN US
				p To become a Roaring Riot Member click the button below. There’s an annual membership fee. For that fee members get: a Roaring Riot Membership T-shirt, RR sticker, membership card, a designated tailgate area, discounts on all of our away game trips, and discounts at our local vendor partners’ businesses. Plus they will be a part of “changing the culture” of our fanbase and help us grow and create a national network of Panthers fans
				button.button Become a Member
			.section__image.left
				img(src='images/people/couple.png')
mixin yourCity
	section.section.white
		.section__image.center
			img(src='images/people/crowd.png')
		.section__container
			.section__message.center
				h2.h2.section__title DOES YOUR CITY RIOT?
				p We have full Roaring Riot Chapters in Denver, Atlanta, New Orleans, Upstate South Carolina, Columbia, Charlotte, Lake Norman, Greensboro, Winston Salem, Raleigh, Washington DC, and New York.
				a(href="#") Create Chapter