mixin nav(link, name)
	li.navigation__link.link
		a.anchor(href= link)= name

mixin navParent(name)
	li.navigation__link
		p.anchor= name
		ul.navigation__sublinks
			block

mixin navChild(link, name)
	li.navigation__sublink
		a.anchor(href= link)= name


.navigation__shop
	.navigation__shop__container
		ul.social
			li.social__twitter
				img(src='images/ui_icons/twitter-blue.svg')
			li.social__twitter
				img(src='images/ui_icons/facebook-blue.svg')
			li.social__twitter
				img(src='images/ui_icons/instagram-blue.svg')
		ul.shopping
			li
				img(src='images/ui_icons/cart-white.svg')
			li
				img(src='images/ui_icons/search-white.svg')
nav.navigation
	.navigation__container
		a(href='index.html').logo
			img(src='images/brand/logo.svg')
		ul.navigation__links
			+nav('index.html', 'Home')
			+navParent('Membership')
				+navChild('#', 'Purchase Membership')
				+navChild('#', 'Charlotte, NC Partners')
				+navChild('#', 'Denver, CO Partners')
				+navChild('#', 'Charleston, SC Partners')
				+navChild('#', 'Winston-Salem, NC Partners')
				+navChild('#', 'Atlanta, GA Partners')
			+navParent('Shop')
				+navChild('#', 'Men')
				+navChild('#', 'Women')
				+navChild('#', 'Children')
				+navChild('#', 'Headwear')
				+navChild('#', 'Novelties')
			+navParent('Gameday')
				+navChild('#', 'Home Games')
				+navChild('#', 'Away Games')
			+navParent('Chapters')
				+navChild('#', 'Queen City Riot - Charlotte NC')
				+navChild('#', 'Mile High Cats - Denver NC')
				+navChild('#', 'NoLa Riot - New Orleans NC')
				+navChild('#', 'Oak City Riot - Raleigh NC')
				+navChild('#', 'Twin City Riot - Winston Salem NC')
				+navChild('#', 'Atlanta Riot - Atlanta NC')
				+navChild('#', 'Capital Riot - Washington, DC')
				+navChild('#', 'Big Apple Riot - New York City NC')
				+navChild('#', 'Gate City Riot - Greensboro NC')
				+navChild('#', 'Upstate Riot - Greenville NC')
				+navChild('#', 'LKN Riot - Lake Norman NC')
			+navParent('More')
				+navChild('#', 'About Us')
				+navChild('#', 'Social Events')
				+navChild('#', 'Gallery')
				+navChild('#', 'Contact Us')
		.burger