// Pallette 
$color-primary: #0099DC;  //yellow
$second-color: #333333;  //black
$third-color: #B0B0B0;  //grey
$fourth-color: #E5E5E5;  //off-white
$fifth-color: #808080; //dark-grey
$off-white: #fafafa;

// Text
$text: #4A4C5B;
$header: $second-color;

//Border Colors
$border-color: $fourth-color;