// Pallette 
$color-primary: #00A3DA;  //Panther Blue
$second-color: #1A1919;  //black
$third-color: #B0B0B0;  //grey
$fourth-color: #E5E5E5;  //off-white
$fifth-color: #808080; //dark-grey
$off-white: #F5F7F8;

// Text
$text: #4A4C5B;
$header: $second-color;

//Border Colors
$border-color: $fourth-color;