$nav-height: 60px;
$shop-height: 32px;
$header-height: $nav-height + $shop-height;
$link-height: $nav-height;

$shopifyAssets: "//cdn.shopify.com/s/files/1/0872/5956/t/2/assets";

@mixin pad($a: 0,$b: 24px) {
    padding: $a $b;
    @include breakpoint($mobile) {
        padding: $a ($b / 3) * 2;
    }
}

@mixin max-width($width: 960px) {
    max-width: $width;
    margin: 0 auto;
    position: relative;
    @include pad();
}

$border: 1px solid #eee;

