.events {
	@include clearfix;
}
.event {
	height: 0;
	position: relative;
	display: inline-block;
	float: left;
	width: 32%;
	padding-bottom: 20%;
	margin-right: 2%;
	@include border-radius(5px);
	overflow: hidden;
	&:last-child {
		margin-right: 0;
	}
	@include breakpoint($hover-zone) {
		&:hover .event__image--overlay {
			top: 0;
		}
	}
	@include breakpoint($portable) {
		width: 48%;
		padding-bottom: 30%;
		margin-right: 4%;
		margin-bottom: 24px;
		&:nth-child(2) {
			margin-right: 0;
		}
		&:last-child {
			width: 100%;
			padding-bottom: 40%;
			margin-bottom: 0;
		}
	}
	@include breakpoint($mobile) {
		width: auto;
		padding-bottom: 60%;
		margin-bottom: 1px;
		margin-left: -16px;
		margin-right: -16px;
		@include border-radius(0);
		&:nth-child(2) {
			margin-right: -16px;
		}
		&:last-child {
			width: auto;
			padding-bottom: 60%;
			margin-bottom: -80px;
			margin-right: -16px;
		}
	}
}
.event__image {
	position: relative;
	overflow: hidden;
	@include border-radius(0 0 5px 5px);
	img {
		min-width: 120%;
		max-width: 120%;
		position: relative;
		left: -10%;
	}
	.event__image--overlay {
		@include absolute(0,0,0,0);
		/* overlay: */
		background-image: -webkit-linear-gradient(rgba(0,153,217,0.00) 6%, #009AD9 93%);
		background-image: -o-linear-gradient(rgba(0,153,217,0.00) 6%, #009AD9 93%);
		background-image: linear-gradient(rgba(0,153,217,0.00) 6%, #009AD9 93%);
		top: 30%;
		@include transition(top 300ms ease-in-out);
	}
}
.event__title {
	@include absolute(null,0,16px,0);
	text-align: center;
	color: white;
	font-weight: 700;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.50);
}

.eventAbstract {
	padding-top: 24px;
	padding-bottom: 112px;
	.event__image {
		height: 0;
		padding-bottom: 50%;
		@include border-radius(5px);
		margin-bottom: 32px;
		img {
			top: -10%;
		}
	}
	.event__details {
		padding-bottom: 20px;
		//text-align: center;
	}
	.event__date,
	.event__location {
		display: inline-block;
		line-height: 1em;
		font-size: 15px;
		margin-bottom: 12px;
	}
	.event__date {
		border-right: 1px solid $second-color;
		padding-right: 16px;
		margin-right: 12px;
	}
	.event__description {
		padding-top: 32px;
		position: relative;
		p {
			padding-bottom: 16px;
			font-size: 16px;
			line-height: 1.5em
		}
		&:before {
			content: '';
			display: block;
			@include size(200px, 1px);
			@include absolute(0,0,null,0);
			margin: auto;
			background: $color-primary;
		}
	}
	.button.clear {
		margin-top: 32px;
		margin-left: 0;
		background: $color-primary;
		color: white;
	}
}
