.section {
	padding: 60px 0 80px;
	position: relative;
	@include clearfix;
	min-height: 240px;
	overflow: hidden;
	&.white {
		background-color: white;
	}
	&.blue {
		@include angled-gradient;
		.h2, p {
			color: white;
		}
	}
	&.grey {
		background-color: $off-white;
	}
	&.eventPage {
		.section__container {
			@include max-width(600px);
			@include breakpoint($mobile) {
				padding: 0;
			}
		}
	}
}
.section__container {
	@include max-width;
	@include clearfix;
}
.section__message {
	width: 45%;
	p {
		font-size: 18px;
		line-height: 1.5em;
	}
	.button {
		margin: 0;
		margin-top: 48px;
	}
	a {
		display: block;
		color: $color-primary;
		text-decoration: underline;
		margin-top: 32px;
	}
	&.left {
		float: left;
	}
	&.right {
		float: right;
	}
	&.center {
		text-align: center;
		margin: 0 auto;
		width: auto;
		max-width: 600px;
		padding-bottom: 40%;
		@include breakpoint($laptop) {
			padding-bottom: 30%;
		}
		@include breakpoint($portable) {
			padding-bottom: 40%;
		}
		@include breakpoint($mobile) {
			padding-bottom: 50%;
		}
	}
	@include breakpoint($portable) {
		width: 100%;
		text-align: center;
		margin-bottom: -40px;
		&.left,
		&.right {
			float: none;
		}
	}
}
.section__image {
	max-width: 50%;
	max-height: 150%;
	@include breakpoint($portable) {
		max-width: 60%;
	}
	img {
		width: 100%;
	}
	&.right,
	&.left {
		position: absolute;
		bottom: -90px;
		@include breakpoint($portable) {
			position: relative;
			margin: 8px auto 0;
			left: 0;
			right: 0;
		}
		@include breakpoint($mobile) {
			max-width: 75%;
		}
	}
	&.right {
		right: 16px;
	}
	&.left {
		left: 16px;
	}
	&.center {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
		max-width: 100%;
		@include breakpoint($TV) {
			min-width: 100%;
			margin-bottom: -5%;
		}
		@include breakpoint($desktop) {
			max-width: 100%;
			right: 0;
			left: 0;
		}
		@include breakpoint($portable-landscape) {
			max-width: 120%;
			right: -10%;
			left: -10%;
		}
		@include breakpoint($portable) {
			max-width: 140%;
			right: -20%;
			left: -20%;
		}
		@include breakpoint($mobile) {
			max-width: 200%;
			right: -50%;
			left: -50%;
		}
	}
}
